airflow/config/**
airflow/logs/**
airflow/dags/__pycache__
credentials/**
**/.env
terraform/wkdir/.terraform
terraform/wkdir/.terraform.lock.hcl
terraform/wkdir/terraform.tfstate
spark/work-dir/artifacts
!credentials/example-google-credentials.json
!**/.gitkeep
!**/README.md