HOST_UID=1000
AIRFLOW_UID=${HOST_UID}
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=your-region
GCS_BUCKET_NAME=your-gcs-bucket-name
DATAPROC_CLUSTER=your-dataproc-cluster-name
CLUSTER_VCPU=12
CLOUDRUN_JOB_NAME=your-cloud-run-name
BQ_DATASET_NAME=your-bigquery-dataset-name
